h5py
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
matplotlib
matplotlib-inline
notebook
numpy
pandas
Pillow
pyspark
scipy
torch
torchvision
tqdm
joblib
sklearn
keras
opencv-python
qutip

